/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS file within this directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*= require bootstrap
*= require grails
*= require main
*= require mobile
*= require_self
*/

#wrap {
    width: 100%;
    margin: 0 auto;
}
#left_col {
    float: left;
    width: 47%;
}
#right_col {
    float: right;
    width: 47%;
}

.red {
    color: red;
}

.black {
    color: black;
}

.feriantes_table {
    width: auto;
    overflow: scroll;
}

#barrios_left_col {
    float: left;
    width: 40%;
}
#barrios_right_col {
    float: right;
    width: 40%;
}

.barrios_text_area {
    background-image: none;
    width: 450px;
}

.barrios_text_area_notas {
    max-width: 400px;
}

.columnas_2 {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
}

.columnas_3 {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
}
